Repository layer5io/meshery, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, component/api, component/mesheryctl, language/go, language/javascript, language/markdown, language/ruby, language/html, area/ui, area/tests, area/ci

Navigation highlight on subsections under Management
  ui/components/Navigator.js
Labels: none

fix: Added description for the command
  mesheryctl/internal/cli/root/system/logs.go
Labels: component/mesheryctl

fix: Use COPY instead of ADD for files and folders
  Dockerfile
Labels: none

don't create a PR
  .github/workflows/release-notes.yml
Labels: area/ci

minor fix for error ref publisher
  .github/workflows/error-ref-publisher.yaml
Labels: area/ci

fix whitespaces
  .github/workflows/release-notes.yml
Labels: area/ci

Created release note file v0.5.37.md
  docs/_releases/v0.5.37.md
Labels: none

.github/labeler.yml:

area/docs:
  - docs/pages/*
  - docs/_includes/*
  - docs/_layouts/*

component/api:
  - handlers/**/*

component/mesheryctl:
  - mesheryctl/**/*

language/go:
  - ./*.go

language/javascript:
  - ./*.js

language/markdown:
  - ./*.md

language/ruby:
  - ./*.rb

language/html:
  - ./*.html

area/ui:
- any: ['ui/**/*', 'provider-ui/**/*']

area/tests:
- any: ['ui/cypress/**/*', 'provider-ui/cypress/**/*']

area/ci:
- any: ['.github/**/*']
